{% extends 'base.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block body %}
<h1>Create</h1>

{# Debut du formulaire "form" #}
{{ form_start(form, {
    'attr': {
        'novalidate': "novalidate"
    }
}) }}

    {{ form_widget(form._token) }}

    {# Title #}
    <div class="form-group">
        {{ form_label(form.title) }}
        {{ form_widget(form.title) }}
        {{ form_help(form.title) }}
        {{ form_errors(form.title) }}
    </div>

    {# Description #}
    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
        {{ form_help(form.description) }}
        {{ form_errors(form.description) }}
    </div>

    {# Cover #}
    <div class="form-group">
        {{ form_label(form.cover) }}
        {{ form_widget(form.cover) }}
        {{ form_help(form.cover) }}
        {{ form_errors(form.cover) }}
    </div>


    <button class="btn btn-sm btn-primary" type="submit">Ajouter un nouveau livre</button>

{# Fin du formulaire "form" #}
{{ form_end(form, {
    'render_rest': false
}) }}

{% endblock %}
